{{> Header}}
{{> Menu}}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="images/Redes.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producción</h5>
                    <p class="card-text">Area de producción</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="images/Soporte.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Soporte</h5>
                    <p class="card-text">Area de Soporte.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="images/Web.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Desarrollo</h5>
                    <p class="card-text">Area de Desarrollo</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
{{> Footer}}